{% extends "base.html" %}

{% block content %}
<div class="container">
    <h2>Dashboard</h2>
    {% if audios.exists %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Nombre de archivo</th>
                    <th>Fecha</th>
                    <th>Idioma Detectado</th>
                    <th>Sentimiento</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for audio in audios %}
                    <tr>
                        <td>{{ audio.original_name }}</td>
                        <td>{{ audio.uploaded_at }}</td>
                        <td>{{ audio.language_detected|default:'No detectado' }}</td>
                        <td>{{ audio.sentiment|default:'No disponible' }}</td>
                        <td><a href="{% url 'detail' audio.id %}" class="btn btn-link">Ver Detalle</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No hay audios subidos. Por favor, sube tu primer archivo.</p>
    {% endif %}
</div>
{% endblock %}
